.our_services {
    background: url(../images/our_sevices__spot.svg) left bottom 400px no-repeat, url(../images/our_services__elements.svg) right 100px bottom -50px no-repeat;
}

.our_services__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our_services__title {
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    width: 300px;
    height: 56px;
}

.our_services__line {
    margin: auto;
}

.our_services__paragraph {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 80px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 952px;
    height: 60px;
}

.our_services__table {
    margin: 0 auto;
}

table {
    background: transparent;
    display: table;
    border-collapse: separate;
    border-spacing: 40px;
    background-image: url(../images/our_services__table__elements.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.table__paragraph {
    font-size: 16px;
    line-height: 28px;
    width: 266px;
    height: 84px;
}

.cell {
    padding: 40px;
}

.our_services__button {
    margin: 72px auto auto;
    display: block;
    margin-bottom: 100px;
}